{% extends "base.html" %}
{% block content %}
<style>
    .div-3 {
        background-color: #fff2cc;
    }
    .div-4 {
        background-color: #deeaf6;
    }
</style>
<section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto" style="margin-left: -300px; margin-top: -50px;">
        <div class="lg:w-4/5 mx-auto-info flex flex-wrap">
            <div class="w-half lg:pr-0 lg:py-0 mb-10 lg:mb-1">
                <div class="w-full flex items-center justify-between space-x-6">
                    <div class="flex-1 truncate">
                        <div class="flex items-center space-x-3">
                            <h3 class="text-3xl text-gray-900 font-medium truncate">{{ lead.phone_number }} - {{ lead.last_name }} {{ lead.first_name }} {{ lead.patronymic_name }}</h3>
                        </div>
                        <p class="mt-1 text-xl text-gray-500 truncate">{{ lead.description }}</p>
                    </div>
                </div>
                <div class="flex mb-4">
                    <a class="text-indigo-600 hover:text-indigo-900" href="{% url 'leads:lead-update' lead.pk %}">Внести изменения</a>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">ATC</span>
                    {% for atc in lead.atc.all %}
                    <span class="ml-auto text-gray-900">{{ atc.name }}</span>
                    {% endfor %}
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Номер телефона</span>
                    <span class="ml-auto text-gray-900">{{ lead.phone_number }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Линия</span>
                    <span class="ml-auto text-gray-900">{{ lead.line }}</span>
                </div>
                <!-- Transferred IP Address Section with Link -->
                {% if atc_ip_api == switch_ip %}
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">IP адрес</span>
                    <span class="ml-auto text-gray-900">
                        <a href="http://{{ atc_ip_api }}" target="_blank">{{ atc_ip_api }}</a>
                    </span>
                </div>
                {% elif switch_ip == '' %}
                <div class="flex border-t border-gray-300 py-2 div-4">
                    <span class="text-gray-500">IP адрес</span>
                    <span class="ml-auto text-gray-900">
                        <a href="http://{{ atc_ip_api }}" target="_blank">{{ atc_ip_api }}</a> / -
                    </span>
                </div>
                {% elif atc_ip_api == '' %}
                <div class="flex border-t border-gray-300 py-2 div-4">
                    <span class="text-gray-500">IP адрес</span>
                    <span class="ml-auto text-gray-900">
                        - / <a href="http://{{ switch_ip }}" target="_blank">{{ switch_ip }}</a>
                    </span>
                </div>
                {% elif atc_ip_api != switch_ip %}
                <div class="flex border-t border-gray-300 py-2 div-3">
                    <span class="text-gray-500">IP адрес</span>
                    <span class="ml-auto text-gray-900">
                        <a href="http://{{ atc_ip_api }}" target="_blank">{{ atc_ip_api }}</a> / 
                        <a href="http://{{ switch_ip }}" target="_blank">{{ switch_ip }}</a>
                    </span>
                </div>
                {% endif %}
                <!-- End of IP Address Section -->
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Модель телефона</span>
                    {% for phone in lead.phone_model.all %}
                    <span class="ml-auto text-gray-900">{{ phone.name }}</span>
                    {% endfor %}
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">useragent</span>
                    <span class="ml-auto text-gray-900">{{ useragent }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Статус</span>
                    <span class="ml-auto text-gray-900">{{ status }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Зарезервирован</span>
                    <span class="ml-auto text-gray-900">{{ lead.reservation }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Активен</span>
                    <span class="ml-auto text-gray-900">{{ lead.active }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Часовой пояс</span>
                    <span class="ml-auto text-gray-900">{{ lead.get_timezone_display }}</span>
                </div>
                {% if user.is_superuser %}
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Пароль &nbsp </span>
                    <span class="text-indigo-600 hover:text-indigo-900">
                        <button data-toggle-id="su">показать/скрыть</button>
                    </span>
                    <span class="ml-auto text-gray-900">
                        <form id="su" hidden>{{ lead.passwd }}</form>
                    </span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        document.onclick = function(event) {
            var target = event.target;
            var id = target.getAttribute('data-toggle-id');
            if (!id) return;
            var elem = document.getElementById(id);
            elem.hidden = !elem.hidden;
        };
    </script>
</section>

<div class="container px-5 py-24 mx-auto" style="margin-left: -300px; margin-top: -200px;">
    <div class="lg:w-4/5 mx-auto-info flex flex-wrap">
        <div class="w-half lg:pr-0 lg:py-0 mb-10 lg:mb-1">
            <div class="w-full flex items-center justify-between space-x-6">
                <div class="flex-1 truncate">
                    <div class="flex items-center space-x-3">
                        <h3 class="text-3xl text-gray-900 font-medium truncate">&nbsp &nbsp &nbsp &nbsp</h3>
                    </div>
                </div>
            </div>
            <div class="flex border-t border-gray-300 py-2">
                <span class="text-gray-500">Компания</span>
                {% for company in lead.company.all %}
                <span class="ml-auto text-gray-900">{{ company.name }}</span>
                {% endfor %}
            </div>
            <div class="flex border-t border-gray-300 py-2">
                <span class="text-gray-500">Фамилия</span>
                <span class="ml-auto text-gray-900">{{ lead.last_name }}</span>
            </div>
            <div class="flex border-t border-gray-300 py-2">
                <span class="text-gray-500">Имя</span>
                <span class="ml-auto text-gray-900">{{ lead.first_name }}</span>
            </div>
            <div class="flex border-t border-gray-300 py-2">
                <span class="text-gray-500">Отчество</span>
                <span class="ml-auto text-gray-900">{{ lead.patronymic_name }}</span>
            </div>
        </div>
    </div>
</div>

<div class="container px-5 py-24 mx-auto" style="margin-left: 700px; margin-top: -900px;">
    <div class="lg:w-4/5 mx-auto-info flex flex-wrap">
        <div class="w-half lg:pr-0 lg:py-0 mb-10 lg:mb-1">
            <div class="w-full flex items-center justify-between space-x-6">
                <div class="flex-1 truncate">
                    <div class="flex items-center space-x-3">
                        <h3 class="text-3xl text-gray-900 font-medium truncate">Местоположение</h3>
                    </div>
                </div>
            </div>
            <div class="flex border-t border-gray-300 py-2">
                <span class="text-gray-500">Порт</span>
                <span class="ml-auto text-gray-900">{{ port }}</span>
            </div>
            <div class="flex border-t border-gray-300 py-2">
                <span class="text-gray-500">Кабинет</span>
                <span class="ml-auto text-gray-900">{{ cabinet }}</span>
            </div>
            <div class="flex border-t border-gray-300 py-2">
                <span class="text-gray-500">Розетка</span>
                <span class="ml-auto text-gray-900">{{ socket }}</span>
            </div>
            <div class="flex border-t border-gray-300 py-2">
                <span class="text-gray-500">Описание порта</span>
                <span class="ml-auto text-gray-900">{{ description }}</span>
            </div>
        </div>
    </div>
</div>

<div class="container px-5 py-24 mx-auto" style="margin-left: 700px; margin-top: -100px;">
    <div class="lg:w-4/5 mx-auto-info flex flex-wrap">
        <div class="w-half lg:pr-0 lg:py-0 mb-10 lg:mb-1">
            <div class="w-full flex items-center justify-between space-x-6">
                <div class="flex-1 truncate">
                    <div class="flex items-center space-x-3">
                        <h3 class="text-3xl text-gray-900 font-medium truncate">&nbsp &nbsp &nbsp &nbsp</h3>
                    </div>
                </div>
            </div>
            <div class="flex border-t border-gray-300 py-2">
                <span class="text-gray-500">Добавил</span>
                <span class="ml-auto text-gray-900">{{ lead.created_user }}</span>
            </div>
            <div class="flex border-t border-gray-300 py-2">
                <span class="text-gray-500">Обновил</span>
                <span class="ml-auto text-gray-900">{{ lead.updated_user }}</span>
            </div>
            <div class="flex border-t border-gray-300 py-2">
                <span class="text-gray-500">Время добавления</span>
                <span class="ml-auto text-gray-900">{{ lead.date_added }}</span>
            </div>
            <div class="flex border-t border-gray-300 py-2">
                <span class="text-gray-500">Время обновления</span>
                <span class="ml-auto text-gray-900">{{ lead.update_added }}</span>
            </div>
        </div>
    </div>
</div>

<button type='submit' onclick="history.back();" class="text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md" style="margin-left: 900px">
    Вернуться назад
</button>
{% endblock content %}