{% extends "base.html" %}

{% block content %}

<section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto-info flex flex-wrap">
            <div class="w-half lg:pr-0 lg:py-0 mb-10 lg:mb-1">
                <div class="w-full flex items-center justify-between space-x-6">
                    <div class="flex-1 truncate">
                        <div class="flex items-center space-x-3">
                            <h3 class="text-3xl text-gray-900 font-medium truncate">{{ lead.phone_number}} -  {{ lead.last_name }} {{ lead.first_name }} {{ lead.patronymic_name }} {{atc_ip}}  {{switch_ip}} </h20></h3>
                        </div>
                        <p class="mt-1 text-xl text-gray-500 truncate">{{ lead.description }}</p>
                    </div>
                </div>
                <div class="flex mb-4">
                    <a class="text-indigo-600 hover:text-indigo-900" href="{% url 'leads:lead-update' lead.pk %}">Внести изменения</a>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">ATC</span>
                    {% for atc in lead.atc.all %}
                    <span class="ml-auto text-gray-900">{{ atc.name }}</span>
                    {% endfor %}
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Номер телефона</span>
                    <span class="ml-auto text-gray-900">{{ lead.phone_number}}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Зарезервирован</span>
                    <span class="ml-auto text-gray-900">{{ lead.reservation}}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Mac-address</span>
                    <span class="ml-auto text-gray-900">{{ lead.mac_address }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Линия</span>
                    <span class="ml-auto text-gray-900">{{ lead.line }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Фамилия</span>
                    <span class="ml-auto text-gray-900">{{ lead.last_name }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Имя</span>
                    <span class="ml-auto text-gray-900">{{ lead.first_name }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Отчество</span>
                    <span class="ml-auto text-gray-900">{{ lead.patronymic_name }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Модель телефона</span>
                    {% for phone in lead.phone_model.all %}
                    <span class="ml-auto text-gray-900">{{ phone.name }}</span>
                    {% endfor %}
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Компания</span>
                    {% for company in lead.company.all %}
                    <span class="ml-auto text-gray-900">{{ company.name }}</span>
                    {% endfor %}
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Добавил</span>
                    <span class="ml-auto text-gray-900">{{ lead.created_user  }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Обновил</span>
                    <span class="ml-auto text-gray-900">{{ lead.updated_user }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Время добавления</span>
                    <span class="ml-auto text-gray-900">{{ lead.date_added }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Время обновления</span>
                    <span class="ml-auto text-gray-900">{{ lead.update_added }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Активен</span>
                    <span class="ml-auto text-gray-900">{{ lead.active }}</span>
                </div>
                {% if user.is_superuser %}
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Пароль</span>
                    <span class="ml-auto text-gray-900">{{ lead.passwd }}</span>
                </div>
                {% endif %}
            </div>
        </div>

        <button type='submit' onclick="history.back();" class="text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md" style="margin-left: 550px;">
            Вернуться назад
        </button>

    </div>
  </section>
{% endblock content %}