{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="{% static 'images/dashboard.svg' %}" type="image/svg">   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система провижининга</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
</head>
<body>
    <div class="{% block container_class %}max-w-7xl mx-auto{% endblock %}">
        {% include 'navbar.html' %}
        {% include 'messages.html' %}
        {% block content %}{% endblock content %}
    </div>
    {% include "scripts.html" %}
</body>
</html>
