<header class="text-gray-700 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        {% if user.is_superuser %}
        <div>
          <a class="hover:text-blue-500" style="margin-left: -140px;" href="{% url 'company' %}"> | &nbsp;&nbsp;&nbsp;&nbsp;Компании</a>
      </div>
        <div>
        <a class="hover:text-blue-500" href="{% url 'apparats' %}"> Модели телефонов&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </div>
        <div>
        <a class="hover:text-blue-500" href="{% url 'number' %}"> Нумерация &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </div>
      <div>
        <a class="hover:text-blue-500" href="{% url 'atc' %}">ATC &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
      </div> 
      <div>
        <a class="hover:text-blue-500" href="{% url 'leads:lead-list' %}">Телефоны (MAC)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </div> 
      <div>
        <a class="hover:text-blue-500" href="{% url 'leads:lead-list' %}"> &nbsp;&nbsp;&nbsp; | Контроль пользователей &nbsp;&nbsp;&nbsp;&nbsp;</a>
      </div>       
        <div>
          <a class="hover:text-blue-500" href="{% url 'signup' %}"> &nbsp;&nbsp;&nbsp;&nbsp;Создать аккаунт &nbsp;&nbsp;&nbsp;&nbsp; | </a>
      </div>  
      {% endif %}
        {% if not request.user.is_authenticated %}
          
        {% else %}
          {% if request.user.is_organisor %}
          
          {% endif %}
          
        {% endif %}
      </nav>
      {% if request.user.is_authenticated %}
      &nbsp;&nbsp;&nbsp;&nbsp;Вы вошли как: {{ request.user.username }}
        <a href="{% url 'logout' %}" class="ml-3 inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">
          Выйти
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </a>
      {% else %}
      
    
      </a>
      {% endif %}
    </div>
  
</header>